* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content:center;
    font-family: ;
    
}
.banner{
    width: 100%;
    height: 100vh;
        
    background-image: linear-gradient(#f2d9b5,rgba(255, 255, 255, 0.8)), url("");
    background-size: cover;
    background-position:inherit;
    background-attachment: fixed;
}
.navbar{
    width: "85%";
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
background:none;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f9fed3;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #b2c1b0;
}
.content h1{
    font-size: 90px;
    margin: 80px;
    font-family:'palatino, garamond';
}
.content p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    /* border: 2px solid #002344; */
    background: transparent;
    color: tomato;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} 
form{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    background: transparent;
    color: tomato;
    cursor: pointer;
    position: relative;
    overflow: hidden;}
span{
    background: #f9fed3;
    background:;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;


}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}


#wrapper {
width: auto;
margin-left: auto;
margin-right: auto;
}


.flex-container {
    display: flex;
  }
   /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 20%;
  }
  
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #b2c1b0;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #e1e2cf;
    background-color: transparent;
    text-decoration: underline;
  }
 